<h2>Submit verification code</h2>

<%= form_for(resource, :as => resource_name, :url => [resource_name, :paranoid_verification_code], :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :paranoid_verification_code, 'Verification code' %><br />
  <%= f.text_field :paranoid_verification_code, value: '' %></p>

  <p>After <strong><%= resource.paranoid_attempts_remaining %></strong> faild attemtps, code will be regenerated<p>

  <p><%= f.submit "Submit" %></p>
<% end %>
